.message .mr ul li:nth-child(2) .pt input {
    width: 196px;
}
.addBoxed{
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}
.addBoxed>img{
	margin: 0 auto;
	width: 28px!important;
	height: 28px!important;
}
.addBoxed1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
}
.addBoxed1>img{
	padding-top: 45%;
	margin: 0 auto;
	margin-top: -14px;
	width: 28px!important;
	height: 28px!important;
}